* {
	border: 1px solid red !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

img, embed, object, video {
	max-width: 100%;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 4.5vw;
	margin: 0;
	color: #D7A700;
	font-family: 'Dancing script', cursive;
}

h2 {
	font-size: 2vw;
	margin: 0;
}

#header {
	background-image: url("../img/header1.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	width: 100vw;
	height: 350px;
}

.h-title {
	font-size: 2vw;
	font-family: 'Kaushan script', cursive;
	color: white;
	padding: 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
}

li:hover {
	text-decoration: underline;
}

.h-menu {
	text-align: right;
	font-size: 20px;
	color: white;
	padding: 15px;
}

.c {
	text-align: center;
}

#mission {
	margin-top: calc(-350px + 25vw);
}

.m-title-g {
	font-size: 5vw;
}

.m-title-b {
	font-size: 4vw;
}

.m-blurb {
	margin-right: 20%;
	margin-left: 20%;
	font-size: 1.5vw;
}

.dash {
	font-family: 'Kaushan script', cursive;
	font-size: 4vw;
	margin-bottom: -3vw;
}

.title {
	color: white;
	text-align: center;
	margin-top: 4vw;
	padding-top: .5vw;
	background-color: rgba(0, 0, 0, .7);
}

.link {
	text-decoration: underline;
	font-size: 1.5vw;
	font-weight: bold;
}

.bg-resp {
	max-width: 1689px;
	max-height: 20.72vw;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(top, black, black 50%, transparent 50%, transparent 100%);
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}